*{
    font-family: Tahoma;
    font-size: 15px;
}
body{
    width: 1000px;
}
.holders {
    width: 120px;
    font-weight: bold;
}
.title {
    text-align: center;
}

#divForOverallAve {
    width: 100%;
    margin: auto;
    border-left: 4px solid #ccddff;
}
#tblForOverallAve {
    width: 100%;
}
#tblForOverallAve td, th {
    padding: 5px;
}
#colEvalResult {
    width: 50%;
}
#colAve{
    width: 15%;
}
#colStatus
{
    width: 20%;
}
#tblHead {
    background-color: #ccddff;
}
#ratingResult, #commentResult
{
    background-color: #f2f2f2;
}
#pieChart, #lineChart{
    padding: 10px;
    width: 100%;
    max-height: 250px;
    border: solid 2px  #f2f2f2;
    border-radius: 5px;
}
#pieChart
{
    padding-left: 15%;
    font-size: 15px;
}
#lineChart{
    width: 100%;
}
#graphDesc{
    text-align: center;
}
#divTeacherInfo_Legend
{
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}
#divTeacherInfo{   
    width: 50%;
    float: left;
}
#legend
{   
    width: 50%;
    float:left;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}
#rating{
    width: 100%;
    border-left: 5px #f2f2f2 solid;
    border-radius: 5px;
}
.lblLegend{
    padding-left: 5px;
}
#rating tr:nth-child(even){
    background-color: #f2f2f2;
}

#titlePdf
{
    font-size: 17px;
    font-weight: bold;
}
#divForPdfTitle{
    text-align: center;
    margin-bottom: 15px;
}
#footerText{
    text-align: center;
    color: #595959;
}
