<style>
    #pdfLogo{
        height: 100px;
        width: 100%;
    }
    #divPdfHeader{
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }
   
</style>
<div id="divPdfHeader">
    <img id="pdfLogo" src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.15752-9/275921311_391606822426570_1580942236834388846_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeF7ZF1l9bxO2tSK1T9-CSXIDv-9Cxv1ytoO_70LG_XK2tTOVnDznZF65Hh4QLwgSZJOcwc0Dc05MvsY7txRFYve&_nc_ohc=-bR52GfaXUcAX8o2xNo&_nc_ht=scontent.fceb1-2.fna&oh=03_AVK8tng8icAfa1kCgz2mQ0dYdqtugpyyHIidZFAbAOXYYg&oe=626604E5">
</div>

